@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Rajdhani:wght@500&family=Yeon+Sung&display=swap');

.App {
  text-align: center;
}

.search-form{
  margin-top: 125px;
}
.search-input{
 padding: 7px 18px;
 font-family: 'Quicksand', sans-serif;
 border: 2px solid black;
 width: 28%;
}
.search-button{
  color: #fff;
  margin: 12px;
}

@media (max-width:600px){
  .search-input{
    margin-left: 15px;
    width: auto;
    padding: 7px 10px;
  }
}